<%- include("../partials/head.ejs") %>
    </head>

    <body>
        <%- include("../partials/navbar.ejs") %>
            <div class="container">
                <% data.forEach(event=> { %>
                    <div class="card my-3" id="#<%= event.code %>">
                        <h5 class="card-header"><%= event.eventname %> - <%= event.code %></h5>
                        <div id="image-carousel" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <% for(let i = 0; event.images && i < event.images.length; i++) { %>
                                    <button type="button" data-bs-target="#image-carousel" data-bs-slide-to="<%= i %>" class="<%= i ? "" : "active" %>"></button>
                                <% } %> 
                            </div>
                            <div class="carousel-inner" style="max-height: 25rem;">
                                <% for(let i = 0; event.images && i < event.images.length; i++) { %>
                                    <div class="carousel-item <%= i ? "" : "active" %>" data-bs-interval="3000">
                                        <img src="<%= event.images[i] %>" class="d-block w-100" alt="<%= event.eventname %>">
                                    </div>
                                <% } %> 
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= event.eventname %>
                            </h4>
                            <h6 class="card-subtitle mb-3 text-muted">
                                <%= event.tag %>
                            </h6>
                            <h6 class="card-subtitle mb-2">
                                <%= new Date(event.start).toLocaleString().split(',')[0] %> - <%= new
                                        Date(event.end).toLocaleString().split(',')[0] %>
                            </h6>
                            <p class="card-text">
                                <%= event.description %>
                            </p>
                            <small>
                                <div class="card-text">
                                    Budget: Rs.<%= event.budget %>
                                </div>
                                <div class="card-text">
                                    Participants: <%= event.participants %>
                                </div>
                            </small>    
                            <p class="card-text"><small class="text-muted">
                                    Last updated: <%= new Date(event.updatedAt).toLocaleString().toUpperCase() %>
                                </small></p>
                            <a href="/admin/r/event/<%= event.code %>" class="btn btn-warning">Update</a>
                            <button class="btn btn-danger" onclick="deleteEvent('<%= event._id %>')">Delete</button>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </body>
    <script>
        async function deleteEvent(id) {
            const text = prompt('Type CONFIRM to delete:');
            if(text !== 'CONFIRM') {
                alert('Action not performed')
                return;
            };
            const response = await fetch(`/admin/d/event/${id}`);
            const json = await response.json();
            alert(`Event: ${json.data.eventname} - ${json.data.code} ${json.message}`);
            location.reload();
        }
    </script>

    </html>